<div class="container">
  <div class="header">
    <input type="search" placeholder="Buscar..." [formControl]="searchControl">
    <a class="button" [routerLink]="['/dashboard/form']">Agregar</a>
  </div>
  <div class="table-content">
    <table>
      <thead>
      <tr class="bg-gray-100">
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th class="vertical-align hide-s-column">
          Descripción <span class="help-icon">i</span>
        </th>
        <th class="hide-s-column">Fecha de liberación <span class="help-icon">i</span></th>
        <th class="hide-s-column">Fecha de reestructuración <span class="help-icon">i</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @for (product of displayedProducts; track product; let index = $index) {
          <tr>
            <td>
              <span class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-200">
                @if (isValidUrl(product.logo)) {
                  <img [src]="product.logo" [alt]="product.name" class="h-8 w-8 rounded-full">
                }@else{
                 L
                }
              </span>
            </td>
            <td>{{ product.name }}</td>
            <td class="hide-s-column">{{ product.description }}</td>
            <td class="hide-s-column">{{ product.date_release }}</td>
            <td class="hide-s-column">{{ product.date_revision }}</td>
            <td>
              <svg class="options h-4 w-4 text-center text-gray-200"
                   (click)="toggleContextMenu(index)"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 128 512">
                <path
                  d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
              </svg>
              @if (contextMenuVisible[index]) {
                <div class="context-menu">
                  <ul class="menu-options">
                    <li class="menu-option" (click)="editProduct(product)">Editar</li>
                    <li class="menu-option" (click)="confirmDeleteProduct(product)">Borrar</li>
                  </ul>
                </div>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
    <div class="footer-table">
      <span>{{ displayedProducts.length }} resultados de {{ totalProducts }}</span>
      <select [formControl]="resultsPerPageControl">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="">Todo</option>
      </select>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" [class.display-none]="!isModalVisible">
  <div class="modal-content">
    <p class="p-2">¿Estás seguro de eliminar el producto <strong>{{ selectedProduct?.name }} ({{ selectedProduct?.id }})</strong> ?</p>
    <hr class="solid-thin">
    <div class="modal-actions">
      <a class="cancel-button mr-2" (click)="cancelDelete()">Cancelar</a>
      <button type="button" class="button" (click)="deleteProduct()">Confirmar</button>
    </div>
  </div>

</div>
