<div class="container">
  <div class="header">
    <input type="search" placeholder="Search...">
    <button class="font-bold">Agregar</button>
  </div>
  <div class="table-content">
    <table>
      <thead>
      <tr class="bg-gray-100">
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th class="vertical-align hide-s-column">
          Descripción <span class="help-icon">i</span>
        </th>
        <th class="hide-s-column">Fecha de liberación</th>
        <th class="hide-s-column">Fecha de reestructuración</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <span class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-500">
            <span class="text-white">TW</span>
          </span>
        </td>
        <td>Nombre del producto</td>
        <td class="hide-s-column">Descripción</td>
        <td class="hide-s-column">01/01/2000</td>
        <td class="hide-s-column">01/01/2001</td>
        <td>
          <svg class="h-4 w-4 text-center text-gray-200" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 128 512">
            <path
              d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
          </svg>
        </td>
      </tr>
      <tr>
        <td>Logo</td>
        <td>Nombre del producto</td>
        <td class="hide-s-column">Descripción</td>
        <td class="hide-s-column">01/01/2000</td>
        <td class="hide-s-column">01/01/2001</td>
        <td>
          <svg class="h-4 w-4 text-center text-gray-200" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 128 512">
            <path
              d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
          </svg>
        </td>
      </tr>
      <tr>
        <td>Logo</td>
        <td>Nombre del producto</td>
        <td class="hide-s-column">Descripción</td>
        <td class="hide-s-column">01/01/2000</td>
        <td class="hide-s-column">01/01/2001</td>
        <td>
          <svg class="h-4 w-4 text-center text-gray-200" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 128 512">
            <path
              d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
          </svg>
        </td>
      </tr>
      <tr>
        <td>Logo</td>
        <td>Nombre del producto</td>
        <td class="hide-s-column">Descripción</td>
        <td class="hide-s-column">01/01/2000</td>
        <td class="hide-s-column">01/01/2001</td>
        <td>
          <svg class="h-4 w-4 text-center text-gray-200" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 128 512">
            <path
              d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
          </svg>
        </td>
      </tr>
      <tr>
        <td>Logo</td>
        <td>Nombre del producto</td>
        <td class="hide-s-column">Descripción</td>
        <td class="hide-s-column">01/01/2000</td>
        <td class="hide-s-column">01/01/2001</td>
        <td>
          <svg class="h-4 w-4 text-center text-gray-200" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 128 512">
            <path
              d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
          </svg>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="footer-table">
      <span>5 Resultados</span>
      <select>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>
</div>
