:root {
  --color-gray-50: #F9FAFC;
  --color-gray-100: #f0f0f0;
  --color-gray-200: #EAECF2;
  --color-gray-500: #929296;

  --color-blue: #24396A;

  --color-yellow-100: #FDF1A4;
  --color-yellow-200: #F5DF66;
  --color-yellow-300: #FFCC00;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: var(--color-gray-100);
  font-size: 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* FONT */
.font-bold {
  font-weight: 700;
}

/* Text Align */
.text-center {
  text-align: center;
}

/* TEXT COLOR */
.text-blue {
  color: var(--color-blue);
}

.text-white {
  color: white;
}

.text-gray-200 {
  color: var(--color-gray-200);
}

/* BG COLOR*/
.bg-gray-100 {
  background-color: var(--color-gray-100);
}

.bg-gray-200 {
  background-color: var(--color-gray-200);
}

.bg-gray-500 {
  background-color: var(--color-gray-500);
}

.mr-2 { margin-right: 1rem; }
.p-2 {
  padding: 2rem 2rem 2rem 2rem;
}

/* SIZE */
.h-4 {
  height: 1rem;
}

.w-4 {
  width: 1rem;
}

.w-8 {
  width: 2rem;
}

.h-8 {
  height: 2rem;
}


/* FLEX */
.vertical-align {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/* ************  */
.rounded-full {
  border-radius: 9999px;
}

.relative {
  position: relative;
}

hr.solid {
  border-top: 0.2rem solid var(--color-gray-200);
}

hr.solid-thin {
  border-top: 0.1rem solid var(--color-gray-200);
}

/* WIDGETS */
.button {
  background-color: var(--color-yellow-200);
  color: var(--color-blue);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.cancel-button {
  background-color: var(--color-gray-100);
  color: var(--color-blue);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.secondary-button{
  padding: 10px 20px;
  cursor: pointer;
  color: var(--color-blue);
  text-decoration: none;
}

.help-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: var(--color-gray-500);
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 0.6rem;
  margin-left: 0.4rem;
  cursor: help;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.context-menu {
  width: 5rem;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: white;
  z-index: 5;

  .menu-options {
    list-style: none;
    padding: 0.2rem 0;

    .menu-option {
      font-weight: 500;
      font-size: 14px;
      padding: 10px 40px 10px 20px;
      cursor: pointer;

      &:hover {
        background: var(--color-gray-100);
      }
    }
  }
}
